---
import BaseHead from '../components/BaseHead.astro'
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'
import Card from '../components/Card.astro'
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts'
import { getCollection } from 'astro:content'
import FormattedDate from '../components/FormattedDate.astro'

const posts = (await getCollection('blog')).sort(
	(a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
)

const categories = [
	...new Set(
		posts
			.flatMap((post) => post.data.tags)
			.sort((a, b) => a.localeCompare(b))
	)
]
console.log('categories:', categories)

const firstPost = posts.shift()

if (!firstPost) {
	throw new Error('No posts found')
}

const { title, description, pubDate, tags } = firstPost.data

const word = title.split(' ').slice(0, 2).join(' ')
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<!-- container -->
		<div class="relative flex justify-center">
			<!-- layout -->
			<div class="w-full max-w-[100vw]">
				<!-- main -->
				<main class="relative overflow-hidden">
					<!-- word container -->
					<div
						class="word-container under"
						role="presentation"
						aria-hidden="true"
					>
						{word}
					</div>
					<div
						class="word-container over"
						role="presentation"
						aria-hidden="true"
					>
						{word}
					</div>
					<!-- clip grid -->
					<div id="clip-grid" class="group relative grid pb-16">
						<div
							class="relative pb-16 grid grid-cols-[var(--site-columns-5)]"
						>
							<div
								class="grid grid-cols-[var(--site-columns-5)] col-span-full"
							>
								<!-- header -->
								<div class="mx-4 col-start-2 col-end-[-2]">
									<Header />
								</div>
								<!-- headline -->
								<div class="mx-4 col-start-2 col-end-[-2]">
									<h2 class="relative my-12">
										<a class="text-2xl" href="/"
											>SangKuk's Blog</a
										>
									</h2>
								</div>
								<!-- story -->
								<div
									class="mx-4 grid grid-cols-[var(--site-columns-5)] col-span-full"
								>
									<!-- headline -->
									<div
										class="relative grid grid-cols-[var(--site-columns-5)] col-span-full"
									>
										<div class="col-start-2 col-end-4">
											<h2 class="mb-[72px]">
												<a
													class="text-header-2"
													href={`/${firstPost.slug}`}
													>{title}</a
												>
											</h2>
										</div>
									</div>
									<!-- body  -->
									<div class="col-start-2 col-end-3">
										<div class="px-10">
											<div
												class="flex justify-between gap-10"
											>
												<!-- TODO: author, date -->
												<div
													class="grid grid-flow-row gap-5"
												>
													<div
														class="grid grid-flow-row gap-x-5 w-fit"
													>
														<p>{description}</p>
														<FormattedDate
															date={pubDate}
														/>
													</div>
												</div>
												<!-- category -->
												<ul
													class="flex flex-col place-items-end gap-[3px]"
												>
													{
														tags.map((tag) => (
															<li>
																<a
																	class="btn"
																	href="/"
																>
																	{tag}
																</a>
															</li>
														))
													}
												</ul>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- udercut -->
						<div
							class="undercut opacity-0 group-hover:opacity-100 group-hover:clip-path-undercut"
							role="presentation"
						>
						</div>
						<!-- overcut -->
						<div
							class="relative grid grid-cols-[var(--site-columns-5)]"
						>
							<div
								id="overcut-grid"
								class="overcut pb-16 grid grid-cols-[var(--site-columns-5)] col-span-full opacity-0 group-hover:opacity-100 group-hover:clip-path-overcut"
							>
								<!-- header -->
								<div class="mx-4 col-start-2 col-end-[-2]">
									<Header />
								</div>
								<!-- headline -->
								<div class="mx-4 col-start-2 col-end-[-2]">
									<h2 class="relative my-12">
										<a class="text-2xl" href="/"
											>SangKuk's Blog</a
										>
									</h2>
								</div>
								<!-- story -->
								<div
									class="mx-4 grid grid-cols-[var(--site-columns-5)] col-span-full"
								>
									<!-- headline -->
									<div
										class="relative grid grid-cols-[var(--site-columns-5)] col-span-full"
									>
										<div class="col-start-2 col-end-4">
											<h2 class="mb-[72px]">
												<a
													class="text-header-2"
													href={`/${firstPost.slug}`}
													>{title}</a
												>
											</h2>
										</div>
									</div>
									<!-- body  -->
									<div class="col-start-2 col-end-3">
										<div class="px-10">
											<div
												class="flex justify-between gap-10"
											>
												<!-- TODO: author, date -->
												<div
													class="grid grid-flow-row gap-5"
												>
													<div
														class="grid grid-flow-row gap-x-5 w-fit text-[hsl(var(--gray-light))]"
													>
														<p>{description}</p>
														<FormattedDate
															date={pubDate}
														/>
													</div>
												</div>
												<!-- category -->
												<ul
													class="flex flex-col place-items-end gap-[3px]"
												>
													{
														tags.map((tag) => (
															<li>
																<a
																	class="btn"
																	href="/"
																>
																	{tag}
																</a>
															</li>
														))
													}
												</ul>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- main grid -->
					<div
						class="relative px-4 grid grid-cols-[var(--site-columns-5)]"
					>
						<!-- card list -->
						<div class="col-start-2 col-end-3">
							{
								posts.map((post) => (
									<Card
										title={post.data.title}
										description={post.data.description}
										pubDate={post.data.pubDate}
										tags={post.data.tags}
										slug={post.slug}
									/>
								))
							}
						</div>
						<!-- categories -->
						<aside class="hidden lg:block col-start4 col-end-5">
							<h4 class="mb-5 text-xl">Catetories</h4>
							<ul class="grid gap-y-[3px] h-fit">
								{
									categories.map((category) => (
										<li>
											<a class="btn" href="/">
												{category}
											</a>
										</li>
									))
								}
							</ul>
						</aside>
					</div>
					<!-- pagination -->
					<div
						class="relative px-4 grid grid-cols-[var(--site-columns-5)]"
					>
						<div class="col-start-2 col-end-3">
							<nav class="flex justify-center py-[100px]">
								<a href="/">Next</a>
							</nav>
						</div>
					</div>
				</main>
			</div>
		</div>
	</body>
</html>
