---
import type { CollectionEntry } from 'astro:content'
import BaseHead from '../components/BaseHead.astro'
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'
import FormattedDate from '../components/FormattedDate.astro'
import type { MarkdownHeading } from 'astro'

type Props = CollectionEntry<'blog'>['data'] & { headings: MarkdownHeading[] }

const { title, description, pubDate, headings } = Astro.props
---

<html lang="en">
	<head>
		<BaseHead title={title} description={description} />
	</head>
	<body>
		<!-- container -->
		<div class="relarive flex justify-center">
			<!-- layout -->
			<div class="w-full max-w-[100vw]">
				<main class="relative grid grid-cols-[var(--site-columns-5)]">
					<div
						class="relative grid grid-cols-[var(--site-columns-5)] col-span-full"
					>
						<!-- main subgrid -->
						<div
							class="relative grid grid-cols-[var(--site-columns-5)] col-span-full"
						>
							<div
								class="relative px-4 grid grid-cols-[var(--site-columns-5)] col-span-full overflow-hidden bg-[hsl(230,_85%,_8%)]"
								style={{
									clipPath:
										'polygon(0 0,100% 0,100% 92%,0 100%)'
								}}
							>
								<!-- background image -->
								<div
									class="absolute right-0 top-5 opacity-[0.35] z-[-1]"
								>
									<svg
										width="824"
										height="824"
										viewBox="0 0 824 824"
										fill="none"
										xmlns="http://www.w3.org/2000/svg"
									>
										<g opacity="0.9">
											<g filter="url(#filter0_f_5_2)">
												<circle
													cx="412"
													cy="412"
													r="171.827"
													transform="rotate(-45 412 412)"
													fill="#E2C8AE"></circle>
												<path
													fill-rule="evenodd"
													clip-rule="evenodd"
													d="M533.698 290.698C533.698 290.698 533.697 290.697 533.697 290.697C466.595 223.595 357.8 223.595 290.697 290.697C223.595 357.8 223.595 466.595 290.697 533.697C290.698 533.697 290.698 533.697 290.698 533.698L533.698 290.698Z"
													fill="#176CE5"></path>
											</g>
											<g clip-path="url(#clip0_5_2)">
												<mask
													id="mask0_5_2"
													style="mask-type:alpha"
													maskUnits="userSpaceOnUse"
													x="285"
													y="284"
													width="256"
													height="256"
												>
													<path
														d="M413 540C413 522.293 409.587 505.653 402.76 490.08C396.147 474.507 387.08 460.96 375.56 449.44C364.04 437.92 350.493 428.853 334.92 422.24C319.347 415.413 302.707 412 285 412C302.707 412 319.347 408.693 334.92 402.08C350.493 395.253 364.04 386.08 375.56 374.56C387.08 363.04 396.147 349.493 402.76 333.92C409.587 318.347 413 301.707 413 284C413 301.707 416.307 318.347 422.92 333.92C429.747 349.493 438.92 363.04 450.44 374.56C461.96 386.08 475.507 395.253 491.08 402.08C506.653 408.693 523.293 412 541 412C523.293 412 506.653 415.413 491.08 422.24C475.507 428.853 461.96 437.92 450.44 449.44C438.92 460.96 429.747 474.507 422.92 490.08C416.307 505.653 413 522.293 413 540Z"
														fill="url(#paint0_linear_5_2)"
													></path>
												</mask>
												<!-- <g mask="url(#mask0_5_2)">
													<path
														d="M677.789 165H177V577.459H677.789V165Z"
														fill="#B1C5FF"></path>
													<g
														filter="url(#filter1_f_5_2)"
													>
														<path
															d="M349.756 366.44C364.923 369.014 377.069 380.43 380.578 395.408L385.635 416.993C385.839 417.862 386.127 418.709 386.494 419.523C392.269 432.315 377.479 444.558 365.99 436.495L302.33 391.817C293.607 385.695 299.729 372.028 310.105 374.462C312.059 374.921 314.107 374.76 315.966 374.004L328.952 368.72C335.54 366.04 342.744 365.25 349.756 366.44Z"
															fill="#076EFF"
														></path>
													</g>
													<g
														filter="url(#filter2_f_5_2)"
													>
														<path
															d="M395.542 320.535C385.355 339.586 366.819 352.755 345.476 356.102L318.932 360.266C318.086 360.399 317.254 360.606 316.445 360.885C301.621 366.002 290.342 347.232 301.819 336.545L389.058 255.307C397.906 247.068 411.348 257.937 405.142 268.314C404.17 269.938 403.659 271.797 403.661 273.69L403.682 288.87C403.697 299.636 401.048 310.239 395.971 319.733L395.542 320.535Z"
															fill="#4FABFF"
														></path>
													</g>
													<g
														filter="url(#filter3_f_5_2)"
													>
														<path
															d="M305.004 468.917V488.38C305.004 533.442 341.535 569.973 386.598 569.973C431.661 569.973 468.191 533.442 468.191 488.38V468.917C468.191 423.854 431.661 387.323 386.598 387.323C341.535 387.323 305.004 423.854 305.004 468.917Z"
															fill="#4FABFF"
														></path>
													</g>
													<g
														filter="url(#filter4_f_5_2)"
													>
														<path
															d="M365.357 486.354V507.282C365.357 541.958 393.467 570.068 428.143 570.068H428.143C462.819 570.068 490.929 541.958 490.929 507.282V486.354C490.929 451.678 462.819 423.568 428.143 423.568H428.143C393.467 423.568 365.357 451.678 365.357 486.354Z"
															fill="#076EFF"
														></path>
													</g>
													<g
														filter="url(#filter5_f_5_2)"
													>
														<path
															d="M414.293 374.424H531.296V321.241H414.293V374.424Z"
															fill="#FFDDB7"
														></path>
													</g>
													<g
														filter="url(#filter6_f_5_2)"
													>
														<path
															d="M513.054 353.836C514.515 351.661 438.827 319.753 453.568 313.874C468.309 307.995 447.019 296.849 460.873 303C474.727 309.15 487.694 327.33 488.425 326.243C489.155 325.156 520.359 342.962 520.359 342.962C520.359 342.962 511.592 356.011 513.054 353.836Z"
															fill="#FFDDB7"
														></path>
													</g>
													<g
														filter="url(#filter7_f_5_2)"
													>
														<path
															d="M554.916 397.974C559.892 390.568 362.876 322.704 406.325 298.153C449.775 273.602 395.27 247.734 431.201 261.124C467.133 274.514 495.547 325.845 498.034 322.143C500.521 318.441 579.791 360.945 579.791 360.945C579.791 360.945 549.939 405.381 554.916 397.974Z"
															fill="#FFDDB7"
														></path>
													</g>
													<g
														filter="url(#filter8_f_5_2)"
													>
														<path
															d="M376.863 424.596H607.078V319.953H376.863V424.596Z"
															fill="#FFDDB7"
														></path>
													</g>
												</g> -->
											</g>
										</g>
										<defs>
											<filter
												id="filter0_f_5_2"
												x="0.172974"
												y="0.173462"
												width="823.654"
												height="823.654"
												filterUnits="userSpaceOnUse"
												color-interpolation-filters="sRGB"
											>
												<feFlood
													flood-opacity="0"
													result="BackgroundImageFix"
												></feFlood>
												<feBlend
													mode="normal"
													in="SourceGraphic"
													in2="BackgroundImageFix"
													result="shape"></feBlend>
												<feGaussianBlur
													stdDeviation="120"
													result="effect1_foregroundBlur_5_2"
												></feGaussianBlur>
											</filter>
											<filter
												id="filter1_f_5_2"
												x="256.306"
												y="324.044"
												width="173.338"
												height="156.892"
												filterUnits="userSpaceOnUse"
												color-interpolation-filters="sRGB"
											>
												<feFlood
													flood-opacity="0"
													result="BackgroundImageFix"
												></feFlood>
												<feBlend
													mode="normal"
													in="SourceGraphic"
													in2="BackgroundImageFix"
													result="shape"></feBlend>
												<feGaussianBlur
													stdDeviation="20.9286"
													result="effect1_foregroundBlur_5_2"
												></feGaussianBlur>
											</filter>
											<filter
												id="filter2_f_5_2"
												x="255.249"
												y="210.547"
												width="193.333"
												height="193.062"
												filterUnits="userSpaceOnUse"
												color-interpolation-filters="sRGB"
											>
												<feFlood
													flood-opacity="0"
													result="BackgroundImageFix"
												></feFlood>
												<feBlend
													mode="normal"
													in="SourceGraphic"
													in2="BackgroundImageFix"
													result="shape"></feBlend>
												<feGaussianBlur
													stdDeviation="20.9286"
													result="effect1_foregroundBlur_5_2"
												></feGaussianBlur>
											</filter>
											<filter
												id="filter3_f_5_2"
												x="261.588"
												y="343.906"
												width="250.02"
												height="269.483"
												filterUnits="userSpaceOnUse"
												color-interpolation-filters="sRGB"
											>
												<feFlood
													flood-opacity="0"
													result="BackgroundImageFix"
												></feFlood>
												<feBlend
													mode="normal"
													in="SourceGraphic"
													in2="BackgroundImageFix"
													result="shape"></feBlend>
												<feGaussianBlur
													stdDeviation="21.7083"
													result="effect1_foregroundBlur_5_2"
												></feGaussianBlur>
											</filter>
											<filter
												id="filter4_f_5_2"
												x="323.5"
												y="381.711"
												width="209.286"
												height="230.214"
												filterUnits="userSpaceOnUse"
												color-interpolation-filters="sRGB"
											>
												<feFlood
													flood-opacity="0"
													result="BackgroundImageFix"
												></feFlood>
												<feBlend
													mode="normal"
													in="SourceGraphic"
													in2="BackgroundImageFix"
													result="shape"></feBlend>
												<feGaussianBlur
													stdDeviation="20.9286"
													result="effect1_foregroundBlur_5_2"
												></feGaussianBlur>
											</filter>
											<filter
												id="filter5_f_5_2"
												x="371.746"
												y="278.694"
												width="202.096"
												height="138.276"
												filterUnits="userSpaceOnUse"
												color-interpolation-filters="sRGB"
											>
												<feFlood
													flood-opacity="0"
													result="BackgroundImageFix"
												></feFlood>
												<feBlend
													mode="normal"
													in="SourceGraphic"
													in2="BackgroundImageFix"
													result="shape"></feBlend>
												<feGaussianBlur
													stdDeviation="21.2733"
													result="effect1_foregroundBlur_5_2"
												></feGaussianBlur>
											</filter>
											<filter
												id="filter6_f_5_2"
												x="409.116"
												y="258.657"
												width="153.789"
												height="137.97"
												filterUnits="userSpaceOnUse"
												color-interpolation-filters="sRGB"
											>
												<feFlood
													flood-opacity="0"
													result="BackgroundImageFix"
												></feFlood>
												<feBlend
													mode="normal"
													in="SourceGraphic"
													in2="BackgroundImageFix"
													result="shape"></feBlend>
												<feGaussianBlur
													stdDeviation="21.2733"
													result="effect1_foregroundBlur_5_2"
												></feGaussianBlur>
											</filter>
											<filter
												id="filter7_f_5_2"
												x="357.515"
												y="214.918"
												width="264.823"
												height="226.435"
												filterUnits="userSpaceOnUse"
												color-interpolation-filters="sRGB"
											>
												<feFlood
													flood-opacity="0"
													result="BackgroundImageFix"
												></feFlood>
												<feBlend
													mode="normal"
													in="SourceGraphic"
													in2="BackgroundImageFix"
													result="shape"></feBlend>
												<feGaussianBlur
													stdDeviation="21.2733"
													result="effect1_foregroundBlur_5_2"
												></feGaussianBlur>
											</filter>
											<filter
												id="filter8_f_5_2"
												x="293.149"
												y="236.239"
												width="397.644"
												height="272.072"
												filterUnits="userSpaceOnUse"
												color-interpolation-filters="sRGB"
											>
												<feFlood
													flood-opacity="0"
													result="BackgroundImageFix"
												></feFlood>
												<feBlend
													mode="normal"
													in="SourceGraphic"
													in2="BackgroundImageFix"
													result="shape"></feBlend>
												<feGaussianBlur
													stdDeviation="41.8572"
													result="effect1_foregroundBlur_5_2"
												></feGaussianBlur>
											</filter>
											<linearGradient
												id="paint0_linear_5_2"
												x1="536"
												y1="319"
												x2="330"
												y2="525"
												gradientUnits="userSpaceOnUse"
											>
												<stop
													offset="0.0187132"
													stop-color="#1A73E8"></stop>
												<stop
													offset="0.468439"
													stop-color="#A4CAFB"></stop>
												<stop
													offset="0.863787"
													stop-color="#FCE8E6"></stop>
											</linearGradient>
											<clipPath id="clip0_5_2">
												<rect
													width="256"
													height="256"
													fill="white"
													transform="translate(285 284)"
												></rect>
											</clipPath>
										</defs>
									</svg>
								</div>
								<!-- header -->
								<div class="col-start-2 col-end-[-2]">
									<Header />
								</div>
								<!-- haedline -->
								<div
									class="relative grid grid-cols-[var(--site-columns-5)] col-span-full"
								>
									<h2
										class="relative my-12 col-start-2 col-end-[-2]"
									>
										<a class="text-2xl" href="/"
											>SangKuk's Blog</a
										>
									</h2>
								</div>
								<div
									class="py-[30px] grid grid-cols-[3fr_1fr] col-start-2 col-end-[-2] gap-8"
								>
									<!-- title -->
									<h2 class="text-header-2 col-span-full">
										{title}
									</h2>
									<!-- description -->
									<div
										class="col-start-1 col-end-3 mb-[clamp(16px,4vw,52px)]"
									>
										<div
											class="text-[clamp(1.25rem,2vw+1rem,2.5rem)] leading-[1.5]"
										>
											{description}
										</div>
									</div>
									<!-- date -->
									<div class="col-start-1 col-end-4">
										<FormattedDate date={pubDate} />
									</div>
									<!-- spacer -->
									<div class="pb-20 row-start-5 row-end-auto">
									</div>
								</div>
							</div>
						</div>
						<!-- content -->
						<div
							class="relative my-10 grid grid-cols-[var(--site-columns-5-wide)] col-span-full"
						>
							<article
								class="prose px-4 grid grid-cols-[min(760px,100%)] col-start-2 col-end-4"
							>
								<slot />
							</article>
							<aside class="ml-10 p-0 col-start-4 col-end-5">
								<!-- toc -->
								{
									headings.length > 0 && (
										<div class="hidden lg:block sticky top-5 mt-10">
											<nav class="mr-4">
												<h5 class="mb-6 text-lg text-[hlsa(var(--gray-dark),0.7)]">
													Table of Contents
												</h5>
												<ul class="flex flex-col gap-2">
													{headings.map((heading) => (
														<li
															style={{
																paddingLeft: `${heading.depth * 0.25}rem`
															}}
														>
															<a
																class="text-sm font-bold"
																href={`#${heading.slug}`}
																style={{
																	color:
																		heading.depth >
																		2
																			? 'hsla(var(--gray-dark), 0.7)'
																			: 'hsl(var(--gray-dark))'
																}}
															>
																{heading.text}
															</a>
														</li>
													))}
												</ul>
											</nav>
										</div>
									)
								}
							</aside>
						</div>
						<!-- footer -->
						<div class="col-start-2 col-end-3">
							<footer class="flex justify-center py-[100px]">
								<ul
									class="grid grid-flow-col justify-center items-center gap-x-14"
								>
									<li>
										<a href="/">Go Home</a>
									</li>
									<li>/</li>
									<li>
										<a href="#">Scroll to Top</a>
									</li>
								</ul>
							</footer>
						</div>
					</div>
				</main>
			</div>
		</div>
	</body>
</html>
